// [note] test of brightness

body { padding: 40px; }


// Test Elements
// ------------------------------
.colors {
  &__item {
    $_size: 48px;

    display: inline-block;
    margin: 0 10px 10px 0;
    width: $_size;
    height: $_size;
  }
}
