// ========================================
// variables.scss
// ========================================

// ---------------------------------
// Fonts
// ---------------------------------
// [note] $font-family-base = $font-family-sans-serif
$font-family-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif, Yu Gothic;
$font-family-condensed-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif, Yu Gothic;
$font-family-serif: Times, Georgia, serif;
$font-family-monospace: monospace;

$font-family-base: $font-family-sans-serif;
$font-family-base-cond: $font-family-condensed-sans-serif;
$font-family-display: $font-family-sans-serif;
$headings-font-family: $font-family-sans-serif;


// ---------------------------------
// Font
// ---------------------------------
$font-size-base: 1.6rem;
$font-weight-base: 400;
$font-size-xl: ($font-size-base * 1.5); // 24px
$font-size-lg: ($font-size-base * 1.25);  // 20px
$font-size-md: ($font-size-base * 1.125); // 18px
$font-size-sm: ($font-size-base * 0.875); // 14px
$font-size-xs: ($font-size-base) * 0.75;  // 12px


// ---------------------------------
// Heading Font
// ---------------------------------
$h1-font-size: $font-size-base * 3; // 48px
$h2-font-size: $font-size-base * 2; // 32px
$h3-font-size: $font-size-base * 1.75; // 28px
$h4-font-size: $font-size-base * 1.5; // 24px
$h5-font-size: $font-size-base * 1.25; // 20px
$h6-font-size: $font-size-base; // 16px


// ---------------------------------
// Color System: Define Function
// ---------------------------------
$colors: ();

@function colors($key) {
  @return map-get($colors, $key);
}

$theme-colors: ();

@function theme-colors($key) {
  @return map-get($theme-colors, $key);
}


// ---------------------------------
// Color System: Define Colors
// ---------------------------------

// Mono
// ------------------------------
$white: #fff;
$black: #000;
$color-white: #fff;
$color-black: #000;
$color-black-900: #121212;
$color-black-800: #323232;
$color-black-700: #4b4b4b;
$color-black-600: #656565;
$color-black-500: #7e7e7e;
$color-black-400: #989898;
$color-black-300: #b1b1b1;
$color-black-200: #cbcbcb;
$color-black-100: #e4e4e4;
$color-gray: #656565;
$color-gray-900: #747474;
$color-gray-800: #838383;
$color-gray-700: #929292;
$color-gray-600: #a2a2a2;
$color-gray-500: #b1b1b1;
$color-gray-400: #c1c1c1;
$color-gray-300: #d0d0d0;
$color-gray-200: #dfdfdf;
$color-gray-100: #efefef;
$colors: map-merge(
  (
    "white": $color-white,
    "black": $color-black,
    "black-900": $color-black-900,
    "black-800": $color-black-800,
    "black-700": $color-black-700,
    "black-600": $color-black-600,
    "black-500": $color-black-500,
    "black-400": $color-black-400,
    "black-300": $color-black-300,
    "black-200": $color-black-200,
    "black-100": $color-black-100,
    "gray": $color-gray,
    "gray-900": $color-gray-900,
    "gray-800": $color-gray-800,
    "gray-700": $color-gray-700,
    "gray-600": $color-gray-600,
    "gray-500": $color-gray-500,
    "gray-400": $color-gray-400,
    "gray-300": $color-gray-300,
    "gray-200": $color-gray-200,
    "gray-100": $color-gray-100
  ),
  $colors
);

// Living Coral
// ------------------------------
$color-living-coral: #ff6f61;
$color-living-coral-900: #ff7d70;
$color-living-coral-800: #ff8b80;
$color-living-coral-700: #ff998f;
$color-living-coral-600: #ffa89f;
$color-living-coral-500: #ffb6af;
$color-living-coral-400: #ffc5bf;
$color-living-coral-300: #ffd3ce;
$color-living-coral-200: #ffe1de;
$color-living-coral-100: #ffefee;
$colors: map-merge(
  (
    "living-coral": $color-living-coral,
    "living-coral-900": $color-living-coral-900,
    "living-coral-800": $color-living-coral-800,
    "living-coral-700": $color-living-coral-700,
    "living-coral-600": $color-living-coral-600,
    "living-coral-500": $color-living-coral-500,
    "living-coral-400": $color-living-coral-400,
    "living-coral-300": $color-living-coral-300,
    "living-coral-200": $color-living-coral-200,
    "living-coral-100": $color-living-coral-100
  ),
  $colors
);

// Aqua Sky
// ------------------------------
$color-aqua-sky: #7ac5c5;
$color-aqua-sky-900: #86caca;
$color-aqua-sky-800: #94d0d0;
$color-aqua-sky-700: #a1d6d6;
$color-aqua-sky-600: #aedcdc;
$color-aqua-sky-500: #bbe1e1;
$color-aqua-sky-400: #c9e7e7;
$color-aqua-sky-300: #d6eded;
$color-aqua-sky-200: #e3f3f3;
$color-aqua-sky-100: #f0f8f8;
$colors: map-merge(
  (
    "aqua-sky": $color-aqua-sky,
    "aqua-sky-900": $color-aqua-sky-900,
    "aqua-sky-800": $color-aqua-sky-800,
    "aqua-sky-700": $color-aqua-sky-700,
    "aqua-sky-600": $color-aqua-sky-600,
    "aqua-sky-500": $color-aqua-sky-500,
    "aqua-sky-400": $color-aqua-sky-400,
    "aqua-sky-300": $color-aqua-sky-300,
    "aqua-sky-200": $color-aqua-sky-200,
    "aqua-sky-100": $color-aqua-sky-100
  ),
  $colors
);

// Mimosa
// ------------------------------
$color-mimosa: #f0bf59;
$color-mimosa-900: #f1c569;
$color-mimosa-800: #f2cb7a;
$color-mimosa-700: #f4d28a;
$color-mimosa-600: #f5d89b;
$color-mimosa-500: #f7deab;
$color-mimosa-400: #f8e5bc;
$color-mimosa-300: #faebcc;
$color-mimosa-200: #fbf2dd;
$color-mimosa-100: #fdf8ed;
$colors: map-merge(
  (
    "mimosa": $color-mimosa,
    "mimosa-900": $color-mimosa-900,
    "mimosa-800": $color-mimosa-800,
    "mimosa-700": $color-mimosa-700,
    "mimosa-600": $color-mimosa-600,
    "mimosa-500": $color-mimosa-500,
    "mimosa-400": $color-mimosa-400,
    "mimosa-300": $color-mimosa-300,
    "mimosa-200": $color-mimosa-200,
    "mimosa-100": $color-mimosa-100
  ),
  $colors
);

// Turtle Green
// ------------------------------
$color-turtle-green: #81894e;
$color-turtle-green-900: #8d945f;
$color-turtle-green-800: #9aa071;
$color-turtle-green-700: #a6ac82;
$color-turtle-green-600: #b3b894;
$color-turtle-green-500: #bfc3a5;
$color-turtle-green-400: #cccfb7;
$color-turtle-green-300: #d8dbc9;
$color-turtle-green-200: #e5e7db;
$color-turtle-green-100: #f1f2ec;
$colors: map-merge(
  (
    "turtle-green": $color-turtle-green,
    "turtle-green-900": $color-turtle-green-900,
    "turtle-green-800": $color-turtle-green-800,
    "turtle-green-700": $color-turtle-green-700,
    "turtle-green-600": $color-turtle-green-600,
    "turtle-green-500": $color-turtle-green-500,
    "turtle-green-400": $color-turtle-green-400,
    "turtle-green-300": $color-turtle-green-300,
    "turtle-green-200": $color-turtle-green-200,
    "turtle-green-100": $color-turtle-green-100
  ),
  $colors
);

// Ultra Violet
// ------------------------------
$color-ultra-violet: #5f4b8b;
$color-ultra-violet-900: #6e5c96;
$color-ultra-violet-800: #7e6ea2;
$color-ultra-violet-700: #8e80ad;
$color-ultra-violet-600: #9e92b9;
$color-ultra-violet-500: #aea4c4;
$color-ultra-violet-400: #beb6d0;
$color-ultra-violet-300: #cec8db;
$color-ultra-violet-200: #dedae7;
$color-ultra-violet-100: #eeecf2;
$colors: map-merge(
  (
    "ultra-violet": $color-ultra-violet,
    "ultra-violet-900": $color-ultra-violet-900,
    "ultra-violet-800": $color-ultra-violet-800,
    "ultra-violet-700": $color-ultra-violet-700,
    "ultra-violet-600": $color-ultra-violet-600,
    "ultra-violet-500": $color-ultra-violet-500,
    "ultra-violet-400": $color-ultra-violet-400,
    "ultra-violet-300": $color-ultra-violet-300,
    "ultra-violet-200": $color-ultra-violet-200,
    "ultra-violet-100": $color-ultra-violet-100
  ),
  $colors
);

// Red
// ------------------------------
$color-red: #f00;
$color-red-900: #ff1818;
$color-red-800: #ff3232;
$color-red-700: #ff4b4b;
$color-red-600: #ff6565;
$color-red-500: #ff7e7e;
$color-red-400: #ff9898;
$color-red-300: #ffb1b1;
$color-red-200: #ffcbcb;
$color-red-100: #ffe4e4;
$colors: map-merge(
  (
    "red": $color-red,
    "red-900": $color-red-900,
    "red-800": $color-red-800,
    "red-700": $color-red-700,
    "red-600": $color-red-600,
    "red-500": $color-red-500,
    "red-400": $color-red-400,
    "red-300": $color-red-300,
    "red-200": $color-red-200,
    "red-100": $color-red-100
  ),
  $colors
);

// Blue
// ------------------------------
$color-blue: #165e83;
$color-blue-900: #2c6d8f;
$color-blue-800: #447e9b;
$color-blue-700: #5b8da7;
$color-blue-600: #729eb4;
$color-blue-500: #89adc0;
$color-blue-400: #a1becd;
$color-blue-300: #b8cdd9;
$color-blue-200: #cfdee5;
$color-blue-100: #e6eef1;
$colors: map-merge(
  (
    "blue": $color-blue,
    "blue-900": $color-blue-900,
    "blue-800": $color-blue-800,
    "blue-700": $color-blue-700,
    "blue-600": $color-blue-600,
    "blue-500": $color-blue-500,
    "blue-400": $color-blue-400,
    "blue-300": $color-blue-300,
    "blue-200": $color-blue-200,
    "blue-100": $color-blue-100
  ),
  $colors
);

// Dark Cyan
// ------------------------------
$color-dark-cyan: #008b8b;
$color-dark-cyan-100: #e4f2f2;
$color-dark-cyan-200: #cbe7e7;
$color-dark-cyan-300: #b1dbdb;
$color-dark-cyan-400: #98d0d0;
$color-dark-cyan-500: #7ec4c4;
$color-dark-cyan-600: #65b9b9;
$color-dark-cyan-700: #4badad;
$color-dark-cyan-800: #4badad;
$color-dark-cyan-900: #189696;
$colors: map-merge(
  (
    "dark-cyan": $color-dark-cyan,
    "dark-cyan-900": $color-dark-cyan-900,
    "dark-cyan-800": $color-dark-cyan-800,
    "dark-cyan-700": $color-dark-cyan-700,
    "dark-cyan-600": $color-dark-cyan-600,
    "dark-cyan-500": $color-dark-cyan-500,
    "dark-cyan-400": $color-dark-cyan-400,
    "dark-cyan-300": $color-dark-cyan-300,
    "dark-cyan-200": $color-dark-cyan-200,
    "dark-cyan-100": $color-dark-cyan-100
  ),
  $colors
);

// Alpha
// ------------------------------
$color-alpha-black-10: rgba(0, 0, 0, 0.1);
$color-alpha-black-20: rgba(0, 0, 0, 0.2);
$color-alpha-black-30: rgba(0, 0, 0, 0.3);
$color-alpha-black-40: rgba(0, 0, 0, 0.4);
$color-alpha-black-50: rgba(0, 0, 0, 0.5);
$color-alpha-black-60: rgba(0, 0, 0, 0.6);
$color-alpha-black-70: rgba(0, 0, 0, 0.7);
$color-alpha-black-80: rgba(0, 0, 0, 0.8);
$color-alpha-black-90: rgba(0, 0, 0, 0.9);
$color-alpha-white-10: rgba(255, 255, 255, 0.1);
$color-alpha-white-20: rgba(255, 255, 255, 0.2);
$color-alpha-white-30: rgba(255, 255, 255, 0.3);
$color-alpha-white-40: rgba(255, 255, 255, 0.4);
$color-alpha-white-50: rgba(255, 255, 255, 0.5);
$color-alpha-white-60: rgba(255, 255, 255, 0.6);
$color-alpha-white-70: rgba(255, 255, 255, 0.7);
$color-alpha-white-80: rgba(255, 255, 255, 0.8);
$color-alpha-white-90: rgba(255, 255, 255, 0.9);
$colors: map-merge(
  (
    "alpha-black-10": $color-alpha-black-10,
    "alpha-black-20": $color-alpha-black-20,
    "alpha-black-30": $color-alpha-black-30,
    "alpha-black-40": $color-alpha-black-40,
    "alpha-black-50": $color-alpha-black-50,
    "alpha-black-60": $color-alpha-black-60,
    "alpha-black-70": $color-alpha-black-70,
    "alpha-black-80": $color-alpha-black-80,
    "alpha-black-90": $color-alpha-black-90,
    "alpha-white-10": $color-alpha-white-10,
    "alpha-white-20": $color-alpha-white-20,
    "alpha-white-30": $color-alpha-white-30,
    "alpha-white-40": $color-alpha-white-40,
    "alpha-white-50": $color-alpha-white-50,
    "alpha-white-60": $color-alpha-white-60,
    "alpha-white-70": $color-alpha-white-70,
    "alpha-white-80": $color-alpha-white-80,
    "alpha-white-90": $color-alpha-white-90,
  ),
  $colors
);


// ---------------------------------
// Color System: Define Theme Colors
// ---------------------------------
// [note]
// theme-colors() is special function
// You can use auto utilitiy classes like this.
// .text-primary, .bg-secondary

// Bootstrap
// ------------------------------
$primary: colors("blue");
$secondary: colors("turtle-green");
$success: colors("mimosa");
$info: colors("ultra-violet");
$warning: colors("mimosa");
$danger: colors("red-900");
$light: colors("gray-200");
$dark: colors("black-800");
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);


// Accent Theme
// ------------------------------
$color-accent-1: colors("gray-200");
$color-accent-2: colors("aqua-sky-200");
$color-accent-3: colors("living-coral-200");
$color-accent-4: colors("turtle-green-200");
$color-accent-5: colors("ultra-violet-200");
$color-accent-6: colors("mimosa-200");
$color-accent-7: colors("mimosa-200");
$color-accent-8: colors("mimosa-200");
$theme-colors: map-merge(
  (
    "accent-1": $color-accent-1,
    "accent-2": $color-accent-2,
    "accent-3": $color-accent-3,
    "accent-4": $color-accent-4,
    "accent-5": $color-accent-5,
    "accent-6": $color-accent-6,
    "accent-7": $color-accent-7,
    "accent-8": $color-accent-8
  ),
  $theme-colors
);

// Web Site Theme
// ------------------------------
$color-theme-1: colors("gray");
$color-theme-2: colors("gray");
$color-theme-3: colors("gray");
$color-theme-4: colors("gray");
$color-theme-1-weak: colors("gray-200");
$color-theme-2-weak: colors("gray-200");
$color-theme-3-weak: colors("gray-200");
$color-theme-4-weak: colors("gray-200");
$theme-colors: map-merge(
  (
    "theme-1": $color-theme-1,
    "theme-2": $color-theme-2,
    "theme-3": $color-theme-3,
    "theme-4": $color-theme-4,
    "theme-1-weak": $color-theme-1-weak,
    "theme-2-weak": $color-theme-2-weak,
    "theme-3-weak": $color-theme-3-weak,
    "theme-4-weak": $color-theme-4-weak
  ),
  $theme-colors
);


// Brand theme
// ------------------------------
$color-dropbox: #1f8ce6;
$color-facebook: #3b5998;
$color-feedly: #6cc655;
$color-flicker: #ff0084;
$color-google-plus: #dd4b39;
$color-instagram: #e1306c;
$color-line: #1dcd00;
$color-linkedin: #cd201f;
$color-pinterest: #cb2027;
$color-tumblr: #2c4762;
$color-twitter: #55acee;
$color-youtube: #cd201f;
$theme-colors: map-merge(
  (
    "dropbox": $color-dropbox,
    "facebook": $color-facebook,
    "feedly": $color-feedly,
    "flicker": $color-flicker,
    "google-plus": $color-google-plus,
    "instagram": $color-instagram,
    "line": $color-line,
    "linkedin": $color-linkedin,
    "pinterest": $color-pinterest,
    "tumblr": $color-tumblr,
    "twitter": $color-twitter,
    "youtube": $color-youtube
  ),
  $theme-colors
);


// ---------------------------------
// Element Style
// ---------------------------------

// Element - Base
// ---------------------------------
$body-bg: colors("white");
$body-color: colors("black-900");
$body-rvs-bg: $body-color;
$body-rvs-color: $body-bg;
$link-color: colors("blue");
$link-hover-color: darken($link-color, 15%);
$link-decoration: underline;
$link-hover-decoration: underline;
$color-border-cmn: $color-gray-400;

// Element - header
// ---------------------------------
$header-bg-color: colors("black");
$header-color: colors("white");
$header-link-color: colors("white");
$header-link-nvr-color: colors("white");
$header-height: 70px;

// Element - footer
// ---------------------------------
$footer-bg-color: colors("black");
$footer-color: colors("white");
$footer-link-color: colors("white");
$footer-link-nvr-color: colors("white");

// Element - breadcrumb
// ---------------------------------
$breadcrumb-wrap-bg-color: colors("gray-400");
$breadcrumb-bg: colors("gray-400");
$breadcrumb-divider: ">";


// ---------------------------------
// Grid columns / Spacers
// ---------------------------------
$spacer: 1rem; // Default: 1rem
$grid-gutter-width: 30px; // Default: 30px
$grid-gutter-half-width: $grid-gutter-width / 2;
$spacer-g: $grid-gutter-width;// Alias
$spacer-hg: $grid-gutter-half-width;// Alias
$spacer-cmn: $grid-gutter-half-width;// Alias

$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5.5),
    8: ($spacer * 7),
    9: ($spacer * 9),
    1px: 1px,
    5px: 5px,
    10px: 10px,
    15px: 15px,
    20px: 20px,
    25px: 25px,
    30px: 30px,
    35px: 35px,
    g: $grid-gutter-width,
    hg: $grid-gutter-half-width,
    cmn: $spacer-cmn
  ),
  $spacers
);


// ---------------------------------
// Sizes
// ---------------------------------
// $sizes
// ex) .w-90 = width: 90%;
// ------------------------------
$sizes: () !default;
$sizes: map-merge(
  (
    // ↓[note] Already defined
    // 25: 25%,
    // 50: 50%,
    // 75: 75%,
    // 100: 100%,
    // auto: auto
    // ↑[note] Already defined
    90: 90%,
    80: 80%,
    70: 70%,
    60: 60%,
    40: 40%,
    30: 30%,
    900px: 900px,
    800px: 800px,
    700px: 700px,
    600px: 600px,
    500px: 500px,
    400px: 400px,
    300px: 300px
  ),
  $sizes
);


// ---------------------------------
// Grid breakpoints
// ---------------------------------
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// );


// ---------------------------------
// Grid containers
// ---------------------------------
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px
// );


// ---------------------------------
// Various settings
// ---------------------------------
// $enable-rounded: false;
// $enable-grid-classes: true;
// $enable-gradients: false;
// $enable-shadows: false;
// $enable-transitions: false;


// ---------------------------------
// Buttons + Forms
// ---------------------------------
// $input-btn-padding-y: 0.5rem;
// $btn-padding-x: 2rem;


// ---------------------------------
// z-index
// ---------------------------------
// $zindex-dropdown:          1000 !default;
// $zindex-sticky:            1020 !default;
// $zindex-fixed:             1030 !default;
// $zindex-modal-backdrop:    1040 !default;
// $zindex-modal:             1050 !default;
// $zindex-popover:           1060 !default;
// $zindex-tooltip:           1070 !default;
$zindex-header: 10;
