<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Gulp Web Site Starter</title>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/stylesheets/bundle.css">
  </head>
  <body class="Page Page-top">

    <header class="Header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1 class="site-header-logo text-uppercase">Gulp Web Site Starter</h1>
          </div>
        </div>
      </div>
    </header><!--./Header-->

    <main class="Main">

      <section class="Sec Sec-top-media-query-test bg-accent-1 pt-3 pb-4">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="heading heading--type_1 text-uppercase">Media Query Test</h2>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <h3 class="heading heading--type_2">Mobile First</h3>
              <p>
                This is Mobile First Media Query Test.<br />
                the columns have col-12, col-xs-12, col-sm-6, col-md-4, col-lg-3 and col-xl-2 class.<br />
                ※ Actually, col-xs-12 is not nescesary. ( col12 = col-xs-12 )
              </p>
            </div>
          </div>
          <div class="row media-query-test mb-4">
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <h3 class="heading heading--type_2">PC First</h3>
              <p>
                This is PC First Media Query Test.<br />
                the columns have col-12, col-xs-12, col-sm-6, col-md-4, col-lg-3 and col-xl-2 class.<br />
                ※ Actually, col-xs-12 is not nescesary. ( col12 = col-xs-12 )
              </p>
            </div>
          </div>
          <div class="row media-query-test mb-4">
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
            <div class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"></div>
          </div>
        </div>
      </section>

    </main><!--./Main-->

    <footer class="Footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <p class="site-footer-logo text-uppercase">Gulp Web Site Starter</p>
          </div>
        </div>
      </div>
    </footer><!--./Footer-->

    <script src="/assets/javascripts/bundle.js"></script>
  </body>
</html>
