<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Gulp Web Site Starter</title>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/stylesheets/bundle.css">
  </head>
  <body class="Page Page-top">

    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <div class="color-boxes">
            <div class="color-boxes__item bg-test"></div>
            <div class="color-boxes__item bg-test-900"></div>
            <div class="color-boxes__item bg-test-800"></div>
            <div class="color-boxes__item bg-test-700"></div>
            <div class="color-boxes__item bg-test-600"></div>
            <div class="color-boxes__item bg-test-500"></div>
            <div class="color-boxes__item bg-test-400"></div>
            <div class="color-boxes__item bg-test-300"></div>
            <div class="color-boxes__item bg-test-200"></div>
            <div class="color-boxes__item bg-test-100"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/assets/javascripts/bundle.js"></script>
  </body>
</html>
