<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sass Color Generator</title>
  <link rel="stylesheet" href="assets/stylesheets/bundle.css">
</head>

<body>
  <div class="wrapper">
    <div class="colors">
      <div class="colors__item bg-black"></div>
      <div class="colors__item bg-black-900"></div>
      <div class="colors__item bg-black-800"></div>
      <div class="colors__item bg-black-700"></div>
      <div class="colors__item bg-black-600"></div>
      <div class="colors__item bg-black-500"></div>
      <div class="colors__item bg-black-400"></div>
      <div class="colors__item bg-black-300"></div>
      <div class="colors__item bg-black-200"></div>
      <div class="colors__item bg-black-100"></div>
    </div>

    <div class="colors">
      <div class="colors__item bg-gray"></div>
      <div class="colors__item bg-gray-900"></div>
      <div class="colors__item bg-gray-800"></div>
      <div class="colors__item bg-gray-700"></div>
      <div class="colors__item bg-gray-600"></div>
      <div class="colors__item bg-gray-500"></div>
      <div class="colors__item bg-gray-400"></div>
      <div class="colors__item bg-gray-300"></div>
      <div class="colors__item bg-gray-200"></div>
      <div class="colors__item bg-gray-100"></div>
    </div>

    <div class="colors">
      <div class="colors__item bg-living-coral"></div>
      <div class="colors__item bg-living-coral-900"></div>
      <div class="colors__item bg-living-coral-800"></div>
      <div class="colors__item bg-living-coral-700"></div>
      <div class="colors__item bg-living-coral-600"></div>
      <div class="colors__item bg-living-coral-500"></div>
      <div class="colors__item bg-living-coral-400"></div>
      <div class="colors__item bg-living-coral-300"></div>
      <div class="colors__item bg-living-coral-200"></div>
      <div class="colors__item bg-living-coral-100"></div>
    </div>

    <div class="colors">
      <div class="colors__item bg-aqua-sky"></div>
      <div class="colors__item bg-aqua-sky-900"></div>
      <div class="colors__item bg-aqua-sky-800"></div>
      <div class="colors__item bg-aqua-sky-700"></div>
      <div class="colors__item bg-aqua-sky-600"></div>
      <div class="colors__item bg-aqua-sky-500"></div>
      <div class="colors__item bg-aqua-sky-400"></div>
      <div class="colors__item bg-aqua-sky-300"></div>
      <div class="colors__item bg-aqua-sky-200"></div>
      <div class="colors__item bg-aqua-sky-100"></div>
    </div>

    <div class="colors">
      <div class="colors__item bg-ultra-violet"></div>
      <div class="colors__item bg-ultra-violet-900"></div>
      <div class="colors__item bg-ultra-violet-800"></div>
      <div class="colors__item bg-ultra-violet-700"></div>
      <div class="colors__item bg-ultra-violet-600"></div>
      <div class="colors__item bg-ultra-violet-500"></div>
      <div class="colors__item bg-ultra-violet-400"></div>
      <div class="colors__item bg-ultra-violet-300"></div>
      <div class="colors__item bg-ultra-violet-200"></div>
      <div class="colors__item bg-ultra-violet-100"></div>
    </div>
  </div>
</body>

</html>