// ========================================
// header
// ========================================

// ---------------------------------
// Main container
// ---------------------------------
.Header {
  height: $header-height;
  background-color: colors("black-800");
  color: colors("white");
}


// ---------------------------------
// Inner parts
// ---------------------------------
.site-header-logo {
  padding-top: 24px;
  font-size: 1.6rem;
  font-weight: bold;
}
