// ========================================
// page
// ========================================

// ---------------------------------
// Global
// ---------------------------------
*:focus { outline: none; }

html,
body,
div,
span {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

html {
  font-size: 10px;
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #121212;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, Yu Gothic;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding: 0;
  text-size-adjust: 100%;
  word-wrap: break-word;
}

a {
  color: #55f;

  &:hover {
    color: darken(#55f, 15%);
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
